[[source]]
url = "https://tensorflow.pypi.thoth-station.ninja/index/manylinux2010/AVX2/simple"
verify_ssl = true
name = "tensorflow-pypi-thoth-station-ninja"

[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi-org"

[dev-packages]

[requires]
python_version = "3.6"

[packages.tensorflow]
index = "tensorflow-pypi-thoth-station-ninja"
version = "*"
