[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi-org"

[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi-org-simple"

[packages]
asyncclick = "*"
click = "*"
pygame = "*"

[dev-packages]

[requires]
python_version = "3.8"

[thoth]
disable_index_adjustment = false

[thoth.allow_prereleases]
